<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleIdentifier</key>        <string>com.yourname.appdatamanager</string>
    <key>CFBundleExecutable</key>        <string>AppDataManager</string>
    <key>CFBundleName</key>              <string>AppDataManager</string>
    <key>CFBundleDisplayName</key>       <string>App Data Manager</string>
    <key>CFBundleVersion</key>           <string>2</string>
    <key>CFBundleShortVersionString</key><string>1.1</string>
    <key>ADMBuildTag</key>               <string>dev</string>
    <key>CFBundlePackageType</key>       <string>APPL</string>
    <key>NSPrincipalClass</key>          <string>UIApplication</string>
    <key>LSRequiresIPhoneOS</key>        <true/>
    <key>MinimumOSVersion</key>          <string>15.0</string>
    <key>UIRequiredDeviceCapabilities</key><array><string>arm64</string></array>
    <key>UIStatusBarStyle</key>          <string>UIStatusBarStyleLightContent</string>
</dict></plist>
